body {
    font-family: "arial";
    align-content: center;
    background-image: url("../imgs/fondo-bienvenida.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow: hidden;
}

.casilla {
    border: solid;
    border-color: #f4d03f;
    color: #fdfefe;
    background-image: url("../imgs/fondo-boton.jpeg");
    text-align-last: center;
    font-size: x-large;
    font-weight: bold;
    padding: 1px 6px;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 50px;
}

a{
    text-decoration-line: none;
    text-transform: uppercase;
    padding: 1px 6px;
    font-weight: bold;
}
.nombreSessionIniciada{
    border: solid;
    border-color: #935116;
    color: #fdfefe;
    background-image: url("../imgs/fondo-boton.jpeg");
    text-align-last: center;
    font-size: x-large;
    padding: 1px 6px;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    float: right;
    max-width: min-content;
}

@media (max-width: 800px) {
    .casilla {
        font-size: large;
    }
    .nombreSessionIniciada {
        font-size: large;
    }
}
