body {
    width: 100%;
    display: grid;
    grid-template-colums: 1fr;
    grid-template-row: 1fr 1fr 1fr;
}

h1 {
    font-size: 120px;
    background-image: url(../imgs/fire.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    text-align: center;
    line-height: .75;
    margin: 10px 0;
}

.title {
    font-family: "arial";
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    letter-spacing: 1px;
    width: 100%;
}

.Div-flex {
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}

.Div-marco {
    font-weight: bold;
    color: black;
    border: 1px solid #935116;
    background-color: #af601a;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
}

.casilla{
    width: 200px;
}

@media (max-width: 800px) {
    h1 {
        font-size: 90px;
    }
}