.title {
    font-family: "arial";
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    letter-spacing: 1px;
    width: 100%;
}

.Div-flex {
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}

.Div-marco {
    font-weight: bold;
    color: black;
    border: 1px solid #935116;
    background-color: #af601a;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
}
h1{
	text-transform: uppercase;
	text-align: center;
	font-size: 120px;
	line-height: .75;
	margin: 10px 0;
}

.casilla{
    width: 200px;
    font-weight: bold;
}