body {
    /* width: 100%; */
    /* height: length; */
    /*display: flex;*/
    padding-top: 100px;
}

h1, form {
    text-align: center;
    color: #fdfefe;
}

p {
    text-align: left;
    color: #fdfefe;
}


img {
    width: 65%;
}

.imagen{
    width: 180px;
    height: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.separacion{
    width: 5px;
    height: 300px;
    padding-left: 10px;
    padding-right: 10px;
}