body{
    display: grid;
    grid-template-rows: 50px 50px 1fr 35px;
}

table{
    margin:auto;
}
img{
    width: 10vh;
    height:auto;  
}

span{
    margin-right: 50px;
    float: right; 
} 

a{
    width: max-content;
    display: flex;
    justify-self: right;
    margin-right: 50px;
    float: right; 
}
@media (max-width: 800px) {
    body{
        display: grid;
        grid-template-rows: 32px 32px 1fr 35px;
    }
    span{
        margin-right: 10px;
    }  
    a{
        margin-right: 10px;
    } 
}